{% extends "imdb/base.html" %}

{% block actors %}
{% load static %}
<link href="{% static "imdb/offcanvas.css" %}" rel="stylesheet">
<body class="bg-light">

<div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">
          <h5 class="text-white h4">Welcome to IMDB index page.</h5>
          <span class="text-muted">The largest internet movie database.</span>
        </div>
    </div>
</div>

<nav class="navbar fixed-top navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <a class="btn btn-outline-primary" href="{% url "imdb:index" %}">IMDB</a>
    <a class="nav-link" href="{% url "imdb:movies" %}">Movies</a>
    <a class="nav-link" href="{% url "imdb:actors" %}">Actors</a>
    <a class="nav-link" href="{% url "imdb:awards" %}">Awards</a>

    <form class="form-inline">
        {% if user.is_authenticated %}
        <a class="btn btn-danger" href="{% url "imdb:logout" %}">Log-out</a>
        {% else %}
        <a class="btn btn-primary" href="{% url "imdb:login" %}">Log-in</a>
        <a class="btn btn-link" href="{% url "imdb:signup" %}">Sign-up</a>
        {% endif %}
    </form>
</nav>

<main role="main" class="container">

    <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded shadow-sm">
        <img class="mr-3" src="{% static "imdb/images/movies.png" %}" alt="" width="48" height="48">
        <div class="lh-100">
        <h6 class="mb-0 text-white lh-100">Actors</h6>
        <small>Database</small>
        </div>
    </div>
    <small class="d-block text-right mt-3">
        <a href="{% url "imdb:addactor" %}" class='btn btn-primary'>Add actor</a>
    </small>

    <div class="my-3 p-3 bg-white rounded shadow-sm">
        <h6 class="border-bottom border-gray pb-2 mb-0">Recent added</h6>
        
        <div class="row">
        {% for actor in recent_added %}
        <div class="col-md-4">

          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="{% static "imdb/images/noimage.png" %}" alt="" width="200" height="350">
            <div class="card-body">

              <strong class="d-block text-gray-dark">
              <a href="{% url "imdb:actordetail" actor.id %}">
              {{ actor }}
              </a>
              </strong>
              <p class="card-text">{{ actor.nationalities }}</p>

              <div class="d-flex justify-content-between align-items-center">

                <div class="btn-group">

                  <div class="btn-group" role="group">

                    <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Action
                    </button>

                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                      <a class="dropdown-item" href="{% url "imdb:actordetail" actor.id %}">View</a>
                      <a class="dropdown-item" href="" data-toggle="modal" data-target="#delete_actor{{ actor.id }}">Delete</a>
                    </div>

                    <div class="modal fade" id="delete_actor{{ actor.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

                      <div class="modal-dialog" role="document">

                        <div class="modal-content">

                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Delete actor</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>

                          <form action="{% url "imdb:deleteactor" actor.id %}" method="post">
                          {% csrf_token %}

                          <div class="modal-body">
                            <div class="form-group">
                              <h2>{{ actor }}</h>
                            </div>
                            <div class="form-group">
                              <label for="message-text" class="col-form-label text-danger">Are you sure to delete this actor?</label>
                            </div>
                          </div>

                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <input class="btn btn-danger" type="submit" value="Submit">
                          </div>

                          </form>
                        </div>
                      </div>
                    </div>
                    
                  </div>

                </div>

              </div>

            </div>

          </div>

        </div>
        {% endfor %}
        </div>
    </div>

  <div class="my-3 p-3 bg-white rounded shadow-sm">
        <h6 class="border-bottom border-gray pb-2 mb-0">All actors</h6>
        
        <div class="row">
        {% for actor in actors %}
        <div class="col-md-4">

          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="{% static "imdb/images/noimage.png" %}" alt="" width="200" height="350">
            <div class="card-body">

              <strong class="d-block text-gray-dark">
              <a href="{% url "imdb:actordetail" actor.id %}">
              {{ actor }}
              </a>
              </strong>
              <p class="card-text">{{ actor.nationalities }}</p>

              <div class="d-flex justify-content-between align-items-center">

                <div class="btn-group">

                  <div class="btn-group" role="group">

                    <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Action
                    </button>

                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                      <a class="dropdown-item" href="{% url "imdb:actordetail" actor.id %}">View</a>
                      <a class="dropdown-item" href="" data-toggle="modal" data-target="#delete_actor{{ actor.id }}">Delete</a>
                    </div>

                    <div class="modal fade" id="delete_actor{{ actor.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

                      <div class="modal-dialog" role="document">

                        <div class="modal-content">

                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Delete actor</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>

                          <form action="{% url "imdb:deleteactor" actor.id %}" method="post">
                          {% csrf_token %}

                          <div class="modal-body">
                            <div class="form-group">
                              <h2>{{ actor }}</h>
                            </div>
                            <div class="form-group">
                              <label for="message-text" class="col-form-label text-danger">Are you sure to delete this actor?</label>
                            </div>
                          </div>

                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <input class="btn btn-danger" type="submit" value="Submit">
                          </div>

                          </form>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>

              </div>

            </div>

          </div>

        </div>
        {% endfor %}
        </div>
    </div>

</main>
</body>
{% endblock %}