{% extends 'imdb/base.html' %}

{% block add_movie %}
{% load static %}

<body class="bg-light">
    <div class="container">

        <div class="py-5 text-left">
          <h2>Add movie form</h2>
        </div>

        <div class="row">
          <div class="col-md-8 order-md-1">

            <h4 class="mb-3">Please fill-in movie information</h4>

            <form action="{% url "imdb:addmovie" %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}

              <div class="mb-3">

                <label for="id_title">Title</label>
                <div class="input-group">

                  <div class="input-group-prepend">
                    <span class="input-group-text">@</span>
                  </div>
                  {{ form.title }}

                </div>
              </div>  

              <div class="form-group green-border-focus">
                  <label for="id_description">Description<span class="text-muted"> (Optional)</span></label>
                  {{ form.description }}
              </div>

              <div class="mb-3">
                <label for="id_release_date_month">Release date:</label>
                <div class="input-group">
                {{ form.release_date }}
                </div>
              </div>

              <div class="mb-3">
              <label for="id_categories">Category</label>
              {{ form.categories }}
              </div>

              <label>Actors:</label>
              {{ form.actors }}

              <div class="custom-file">
              {{ form.logo }}
              <label class="custom-file-label" for="id_logo">Choose file...</label>
              </div>

              <hr class="mb-4">
              <input class="btn btn-primary btn-lg btn-block" type="submit" value="Add movie">
            </form>
    </div>
  </div>

  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2019-9999 @nqui</p>
    <ul class="list-inline">
    </ul>
  </footer>
</div>
    <script src="{% static "/imdb/form-validation.js"%}"></script>
</body>
{% endblock %}