{% extends 'imdb/base.html' %}

{% block award_detail %}
{% load static %}
<link href="{% static "imdb/product.css" %}" rel="stylesheet">

<body>

<div class="pos-f-t">
    <div class="collapse fixed-top" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">
          <h5 class="text-white h4">Welcome to IMDB index page.</h5>
          <span class="text-muted">The largest internet movie database.</span>
        </div>
    </div>
</div>

<nav class="navbar fixed-top navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <a class="btn btn-outline-primary" href="{% url "idmb:index" %}">IMDB</a>
    <a class="nav-link" href="{% url "imdb:movies" %}">Movies</a>
    <a class="nav-link" href="{% url "imdb:actors" %}">Actors</a>
    <a class="nav-link" href="{% url "imdb:awards" %}">Awards</a>

    <form class="form-inline">
        {% if user.is_authenticated %}
        <a class="btn btn-danger" href="{% url "imdb:logout" %}">Log-out</a>
        {% else %}
        <a class="btn btn-primary" href="{% url "imdb:login" %}">Log-in</a>
        <a class="btn btn-link" href="{% url "imdb:signup" %}">Sign-up</a>
        {% endif %}
    </form>
</nav>

    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">

      <img class="center" src="{% static "imdb/images/award.png" %}" alt="">

      <div class="col-md-5 p-lg-5 mx-auto my-5 text-left">
      <hr class="mb-4">
        <h5 class="display-4 font-weight-normal">{{ obj }}</h>
        <p></p>
        <p class="lead font-weight-normal"><span class="badge badge-info">Award Name</span> {{ obj.name }}</p>
        <p class="lead font-weight-normal"><span class="badge badge-info">Award Kind</span> {{ obj.kind }}</p>
      </div>

    </div>

  </body>
{% endblock %}