{% extends 'imdb/base.html' %}

{% block award_detail %}
{% load static %}
<link href="{% static "imdb/product.css" %}" rel="stylesheet">

<body>

<div class="pos-f-t">
    <div class="collapse fixed-top" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">
          <h5 class="text-white h4">Welcome to IMDB index page.</h5>
          <span class="text-muted">The largest internet movie database.</span>
        </div>
    </div>
</div>

<nav class="navbar fixed-top navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <a class="btn btn-outline-primary" href="{% url "imdb:index" %}">IMDB</a>
    <a class="nav-link" href="{% url "imdb:movies" %}">Movies</a>
    <a class="nav-link" href="{% url "imdb:actors" %}">Actors</a>
    <a class="nav-link" href="{% url "imdb:awards" %}">Awards</a>

    <form class="form-inline">
        {% if user.is_authenticated %}
        <a class="btn btn-danger" href="{% url "imdb:logout" %}">Log-out</a>
        {% else %}
        <a class="btn btn-primary" href="{% url "imdb:login" %}">Log-in</a>
        <a class="btn btn-link" href="{% url "imdb:signup" %}">Sign-up</a>
        {% endif %}
    </form>
</nav>

<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">

  <button type="button" class="btn btn-success float-right" data-toggle="modal" data-target="#award_edit{{ obj.id }}">Edit</button>
  {% comment %} MODAL FOR AWARD EDIT BUTTON {% endcomment %}
  <div class="modal fade bd-example-modal-lg" id="award_edit{{ obj.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit form</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <form action="{% url "imdb:updateaward" obj.id %}" method="post">
        {% csrf_token %}

        <div class="modal-body text-left">
          <div class="form-group">

            <div class="mb-3">
            <label>Award Name:</label>
            {{ pre_form.name }}
            </div>

            <div class="mb-3">
            <label>Award Kind:</label>
            {{ pre_form.kind }}
            </div>

          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <input class="btn btn-danger" type="submit" value="Submit">
        </div>

        </form>

      </div>
    </div>
  </div>
  <button type="button" class="btn btn-success float-right" data-toggle="modal" data-target="#award_assign{{ obj.id }}">Assign</button>
  {% comment %} MODAL FOR AWARD ASSIGN BUTTON {% endcomment %}
  <div class="modal fade bd-example-modal-lg" id="award_assign{{ obj.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit form</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <form action="{% url "imdb:assignaward" obj.id %}" method="post">
        {% csrf_token %}

        <div class="modal-body text-left">
          <div class="form-group">

            {% if obj.kind == "MOVIE" %}
            <div class="mb-3">
            <label>Award Name:</label>
            {{ assign_form.movie_kind }}
            </div>
            {% else %}
            <div class="mb-3">
            <label>Award Name:</label>
            {{ assign_form.actor_kind }}
            </div>
            {% endif %}

          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <input class="btn btn-danger" type="submit" value="Submit">
        </div>

        </form>

      </div>
    </div>
  </div>

  <img class="center" src="{% static "imdb/images/award.png" %}" alt="">

  <div class="col-md-auto p-lg-10 mx-auto my-5 text-left">
  <hr class="mb-4">
    <h5 class="display-4 font-weight-normal">{{ obj }}</h>
    <p></p>
    <p class="lead font-weight-normal"><span class="badge badge-info">Award Name</span> {{ obj.name }}</p>
    <p class="lead font-weight-normal"><span class="badge badge-info">Award Kind</span> {{ obj.kind }}</p>
    <p class="lead font-weight-normal"><span class="badge badge-info">Assign to</span></p>
    <p class="lead font-weight-normal">
    {% if obj.kind == "MOVIE" and obj.movie_kind.all %}
    {% for movie in obj.movie_kind.all %}
    <a href="{% url "imdb:moviedetail" movie.id %}" class="lead font-weight-normal">{{ movie }}</a>
    ,
    {% endfor %}
    </p>

    {% elif obj.kind == "ACTOR" and obj.actor_kind.all %}
    <p class="lead font-weight-normal">
    {% for actor in obj.actor_kind.all %}
    <a href="{% url "imdb:actordetail" actor.id %}" class="lead font-weight-normal">{{ actor }}</a>
    ,
    {% endfor %}
    </p>
    {% endif %}
    <p class="lead font-weight-normal"><span class="badge badge-info">Award assign time</span> {{ obj.date_assign }}</p>
  </div>

</div>

<div class="center">

  <div class="card">

    <div class="card-body">

    {% for comment in load_comments %}

    <div class="card">

      <div class="card-body">
        {% comment %} MODAL {% endcomment %}
        {% if user.id == comment.user.id or user.is_staff or user.is_superuser %}
          {% comment %} DELETE BUTTON {% endcomment %}
          <button type="button" class="btn btn-danger float-right" data-toggle="modal" data-target="#delete{{ comment.id }}">Delete</button>
          {% comment %} MODAL FOR DELETE BUTTON {% endcomment %}
          <div class="modal fade" id="delete{{ comment.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Delete comment</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>

                <form action="{% url "imdb:comment-delete" comment.id %}" method="post">
                {% csrf_token %}

                <div class="modal-body">
                  <div class="form-group">
                    <div class='card'><div class='card-body'><p>{{ comment.content }}</p></div></div>
                  </div>
                  <div class="form-group">
                    <label for="message-text" class="col-form-label">Are you sure to delete this comment?</label>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <input class="btn btn-danger" type="submit" value="Submit">
                </div>
                </form>
              </div>
            </div>
          </div>

          <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#edit{{ comment.id }}">Edit</button>
          {% comment %} MODAL FOR EDIT BUTTON {% endcomment %}
          <div class="modal fade" id="edit{{ comment.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Edit comment</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>

                <form action="{% url "imdb:comment-update" comment.id %}" method="post">
                {% csrf_token %}

                <div class="modal-body">
                  <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Current:</label>
                    <div class='card'><div class='card-body'><p>{{ comment.content }}</p></div></div>
                  </div>
                  <div class="form-group">
                    <label for="message-text" class="col-form-label">Change to:</label>
                    <textarea class="form-control" id="message-text" name="comment_update"></textarea>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <input class="btn btn-primary" type="submit" value="Save changes">
                </div>
                </form>
              </div>
            </div>
          </div>
        {% endif %}
        {% comment %} END OF MODAL SECTION {% endcomment %}

        {% comment %} LOAD COMMENTS {% endcomment %}
        <h5 class="card-title">{{ comment.user }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">
        {{ comment.created_time }}
          {% if comment.last_edit %}
          (edited: {{ comment.last_edit }})
          {% endif %}
        </h6>
        <p class="card-text">{{ comment.content }}</p>

      </div>

    </div>

    <hr class='mb4'>

    {% endfor %}

    </div>

  </div>

  </br>

  {% comment %} ADD COMMENT FORM {% endcomment %}
  <form action="{% url "imdb:addcomment" obj.id %}" method="post">
    {% csrf_token %}

    <input type="hidden" name="kind" value="Award">

    {{ cmt_form.content }}

    </br>

    <input class="btn btn-primary float-right" type="submit" value="Add comment">

    </br>
    </br>

  </form>

</div>

</body>
{% endblock %}
