<h1>Login Session</h1>
<form action="" method="post">
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>
    {% comment %} {{ form.non_field_errors }}
    <div class="fieldWrapper">
        {{ form.username.errors }}
        <label for="{{ form.subject.id_username }}">Username:</label>
        {{ form.username }}
    </div>
    <div class="fieldWrapper">
        {{ form.password.errors }}
        <label for="{{ form.message.id_password }}">Password:</label>
        {{ form.password }}
    </div> {% endcomment %}
    <br/>
    <input type="submit" value="Login">
</form>
<a href="/imdb/signup/">Create an account</a>